@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
.container{ 
    width: 80%; 
    margin: 20px auto; 
} 
.containers{ 
    width: 80%; 
    margin: 20px auto; 
} 
nav{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
.ul{ 
    display: flex; 
    gap: 40px; 
    align-items: center; 
} 
ul{ 
    display: flex; 
    gap: 40px; 
    list-style-type: none; 
} 
li a{ 
    color: #6C8294; 
    text-decoration: none; 
    font-family: Public Sans; 
    font-size: 15px; 
    font-weight: 700; 
    line-height: 17.63px; 
    letter-spacing: -0.11538461595773697px; 
} 
button{ 
    background-color: #BA4270; 
    padding: 16px; 
    color: white; 
    border: none; 
    border-radius: 30px; 
} 
.row{ 
    display: flex; 
    align-items: center; 
} 
.rows{ 
    display: flex; 
    align-items: center; 
} 
h1{ 
    color: #36536B; 
    font-family: DM Serif Display; 
    font-size: 72px; 
    font-weight: 400; 
    line-height: 72px; 
    letter-spacing: -0.5538461804389954px; 
} 
.cod{
    width: 445px;
}
.vip{ 
    width: 463px; 
} 
@media (max-width:768px) { 
    .vip{ 
        width: 159px ; 
    } 
    .cod{
        width: 410px;
    }
    .row{ 
        flex-direction: column-reverse; 
    } 
    .rows{ 
        flex-direction: column; 
    } 
    .rov{
        display: flex;
        gap:15px;
    }
    h1{ 
    font-family: DM Serif Display; 
    font-size: 48px; 
    font-weight: 400; 
    line-height: 56px; 
    letter-spacing: -0.3692307770252228px; 
    text-align: center; 
    } 
} 
@media (max-width:375px;) {
    .vip{ 
        width: 128px ; 
    } 
    .cod{
        width: 328px;
    }
    .rov{
        display: none;
        margin-top: 50px;
    }
    .containers{
        padding: 120px;
    }
}
h2{ 
    color: #36536B; 
    font-family: DM Serif Display; 
    font-size: 48px; 
    font-weight: 400; 
    line-height: 56px; 
    letter-spacing: -0.3692307770252228px; 
} 
p{ 
    font-family: Public Sans; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 28px; 
    color: #6C8294; 
} 
.tex{ 
    text-align: center; 
    width: 445px; 
} 
.rov{ 
    display: flex; 
    gap: 77px;  
    justify-content: center;
} 
h6{ 
    font-family: Public Sans; 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 25px; 
    letter-spacing: -0.13846154510974884px; 
    color: #36536B; 
}
.card{
    width: 223px;
    text-align: center;
}
footer{
    background-color:#1B262F ;
    padding: 32px;
}
.rovs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logos{
    display: flex;
    align-items: center;
    gap:64px;
}